@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-background
}

.react-toggle-track-check, .react-toggle-track-x {
    width: 17px;
    height: 17px;
  }

.react-toggle-track-check {
    left: 7px;
}

.react-toggle-track-x {
    right: 7px; 
}

code.language-text, pre.language-text {
    background: #2D2D31;
    /* color: var(--dark-font-color)!important;
    box-shadow: none; */
}